###############################################################
#
# Environment setup
#
###############################################################


text
cdrom
lang en_US.UTF-8
timezone --utc UTC
auth --enableshadow --passalgo=sha512
keyboard --vckeymap=us --xlayouts='us'
eula --agreed
reboot

###############################################################
#
# network configuration
#
###############################################################

network --bootproto=dhcp --noipv6 --onboot=on --device=eth0
timezone UTC

#network --bootproto=static --ip=192.168.122.100 --gateway=192.168.122.1  --netmask=255.255.255.0  --noipv6 --device=eth0 --nameserver=192.168.122.1,8.8.8.8 --activate
#network  --hostname=server1.example.com
#timezone Africa/Nairobi --isUtc

###############################################################
#
# partitioning
#
###############################################################
bootloader --timeout=1 --location=mbr --append="net.ifnames=0 biosdevname=0"
text
skipx
zerombr
clearpart --all --initlabel
autopart --type=lvm
reboot --eject

part / --asprimary --size=1024 --grow --ondisk=vda --fstype=ext4

# part swap --asprimary --fstype="swap" --size=1024
# part /boot --fstype xfs --size=200
# part pv.01 --size=1 --grow
# volgroup rootvg01 pv.01
# logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow


###########################################################################################
# 
# User Accounts
# Generate encrypted password: python -c 'import crypt; print(crypt.crypt("My Password"))'
# Or  openssl passwd -1 password
#
###########################################################################################

rootpw rendaljkasRoot$$ 
user --groups=wheel --name=rendaljka --password=rendaljka123

# add to sudoers
echo "%rendaljka ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/rendaljka
chmod 0440 /etc/sudoers.d/vagrant 


###############################################################
#
# Services
#
###############################################################
services --enabled=vmtoolsd,sshd

###############################################################
#
# SELinux and Firewalld
#
###############################################################

#selinux --enforcing
selinux --permissive
#selinux --disabled
 
# firewall --enabled --ssh 
firewall --disabled

 
###############################################################
#
# Software Packages
#
###############################################################

%packages --ignoremissing --excludedocs --instLangs=en_US.utf8
@core
@base
openssh-clients
bash-completion
sudo
selinux-policy-devel
nfs-utils
net-tools
tar
bzip2
drpm
rsync
yum-utils
elfutils-libelf-devel
network-scripts
%end